In [18]:
import pymysql
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
con = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'kikilqq422',
    db = 'test',
    port = 3306,
    charset = 'utf8' 
   )

In [3]:
cur = con.cursor()

In [4]:
cur.execute("select * from company_sql")

2296

In [5]:
data = cur.fetchall()

In [1]:
for i in data:
    #print(i[0],i[1])

SyntaxError: unexpected EOF while parsing (<ipython-input-1-a6cc9838e196>, line 2)

In [7]:
cur.close()
con.close()

In [12]:
sql = 'select * from company_sql'
engine = create_engine("mysql+pymysql://root:kikilqq422@localhost:3306/test?charset=gbk")
f = pd.read_sql(sql,engine)
f

,companyId,companyFullName,companyLabelList,companyShortName,companySize,businessZones
0,43,北京欧应科技有限公司,"['五险一金', '扁平化管理', '创业型企业', '岗位晋升']",唯医网,150-500人,"['东大桥', 'CBD', '朝外']"
1,53,北京创锐文化传媒有限公司,"['技能培训', '节日礼物', '季度奖金', '岗位晋升']",聚美优品,2000人以上,"['东直门', '海运仓', '东四']"
2,62,北京字节跳动科技有限公司,"['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']",今日头条,2000人以上,"['双榆树', '大钟寺', '中关村']"
3,70,宝宝树（北京）信息技术有限公司,"['商业医疗保险', '股票期权', '带薪年假', '扁平管理']",宝宝树,500-2000人,"['团结湖', '朝阳公园', '三里屯']"
4,91,高德软件有限公司,"['弹性工作', '帅哥多', '美女多', '五险一金']",阿里巴巴移动事业群-高德,2000人以上,['城南']
...,...,...,...,...,...,...
2291,157426,北京云合文化传媒有限公司,None,北京云合文化传媒有限公司,15-50人,None
2292,157453,北京信立达医药科技有限公司,None,北京信立达,15-50人,['学院路']
2293,157647,南京蔚思盾财务管理咨询有限公司,"['绩效奖金', '午餐补助', '交通补助', '带薪年假']",蔚思盾,少于15人,['洪武路']
2294,157665,量子数聚（北京）科技有限公司,None,量子数聚,50-150人,['世纪城']
2295,157744,成都鸿易盛企业管理咨询有限公司,None,成都鸿易盛,50-150人,['人民北路']

In [34]:
#将连接数据库的方式换成函数的形式，分别打开两个表
def file(sql_f,db = 'test'):
    sql = sql_f
    engine = create_engine("mysql+pymysql://root:kikilqq422@localhost:3306/{0}?charset=gbk".format(db))
    f = pd.read_sql(sql,engine)
    return f

In [38]:
com = file('select * from company_sql')
com.head()

,companyId,companyFullName,companyLabelList,companyShortName,companySize,businessZones
0,43,北京欧应科技有限公司,"['五险一金', '扁平化管理', '创业型企业', '岗位晋升']",唯医网,150-500人,"['东大桥', 'CBD', '朝外']"
1,53,北京创锐文化传媒有限公司,"['技能培训', '节日礼物', '季度奖金', '岗位晋升']",聚美优品,2000人以上,"['东直门', '海运仓', '东四']"
2,62,北京字节跳动科技有限公司,"['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']",今日头条,2000人以上,"['双榆树', '大钟寺', '中关村']"
3,70,宝宝树（北京）信息技术有限公司,"['商业医疗保险', '股票期权', '带薪年假', '扁平管理']",宝宝树,500-2000人,"['团结湖', '朝阳公园', '三里屯']"
4,91,高德软件有限公司,"['弹性工作', '帅哥多', '美女多', '五险一金']",阿里巴巴移动事业群-高德,2000人以上,['城南']

In [69]:
#算出大表每个城市的不同公司的职位数量，并且用reset_index作为一个表展示出来
#如果给指定列改名，则用字典方式
file2 = pd.merge(pos,com,how='left',on = 'companyId')
result = file2.groupby(['city','companyFullName']).count()['positionId'].reset_index()
result.rename(columns={'positionId':'positioncount'})

     city        companyFullName  positioncount
0      上海  CMC Wiseme HK Limited              2
1      上海      Striking.ly, Inc.              1
2      上海   VIKI PRIVATE LIMITED              1
3      上海             万达信息科技有限公司              2
4      上海         上汽通用汽车金融有限责任公司              1
...   ...                    ...            ...
2414   长沙           湖南银杏数据科技有限公司              1
2415   长沙         湖南高阳通联信息技术有限公司              1
2416   长沙          益丰大药房连锁股份有限公司              1
2417   长沙   自由飞越国际航空技术服务（北京）有限公司              1
2418   长沙             长沙网舜科技有限公司              1

[2419 rows x 3 columns]

In [70]:
#将得到的结果写入sql,注意常见的参数，写入的name，连接地址，if_exists一般都选append，index最好不要
#注意直接用to_sql写入后，字符类型为text格式等，建议现在mysql里面建表之后再写入
result.to_sql(name = 'file2',
              con = 'mysql+pymysql://root:kikilqq422@localhost:3306/test?charset=gbk',
              if_exists = 'append',
              index = False)

In [71]:
file('show tables')

    Tables_in_test
0      company_sql
1  dataanalyst_sql
2            file2
3       order_info
4        user_info