In [6]:
list = [i for i in range(10) if i%2 == 0]

In [10]:
import numpy as np

In [12]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [2]:
import pandas as pd

In [37]:
s= pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [42]:
s2= pd.Series([1,2,3,4],index=['w','e','f','g'])
s2

w    1
e    2
f    3
g    4
dtype: int64

In [43]:
s2[2],s2[['e','g']]

(3,
 e    2
 g    4
 dtype: int64)

In [3]:
df = pd.DataFrame()

In [8]:
d = {
    'name':['lulu','xiaoming','qiqi'],
    'gender':['female','female','female'],
    'age':[30,31,29]
}

In [10]:
df = pd.DataFrame(d)
df

       name  gender  age
0      lulu  female   30
1  xiaoming  female   31
2      qiqi  female   29

In [14]:
df['name']
df.age

0    30
1    31
2    29
Name: age, dtype: int64

In [21]:
df.loc[0]

name        lulu
gender    female
age           30
Name: 0, dtype: object

In [22]:
df[df.age == 30 ]

   name  gender  age
0  lulu  female   30

In [27]:
df.age[:2] = 21

<ipython-input-27-3af53bc0f9f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.age[:2] = 21

In [28]:
df

       name  gender  age
0      lulu  female   21
1  xiaoming  female   21
2      qiqi  female   29

In [31]:
df[ df.age < 25]

       name  gender  age
0      lulu  female   21
1  xiaoming  female   21

In [34]:
#根据条件选择字段的形式
df[ df.age < 25]
#'~'其实就是相反的意思
df [~(df.age > 25)]
df.loc[df.age == 21]

       name  gender  age
0      lulu  female   21
1  xiaoming  female   21

In [41]:
df.query("age==21 & gender == 'female' ")

       name  gender  age
0      lulu  female   21
1  xiaoming  female   21

In [44]:
df[df.age == 21].age-2

0    19
1    19
Name: age, dtype: int64

In [45]:
#iloc根据所在行数字为索引,loc是针对标签,也就是当index被赋值了之后的，查找
df.iloc[1]

name      xiaoming
gender      female
age             21
Name: 1, dtype: object

In [46]:
df.loc[1]

name      xiaoming
gender      female
age             21
Name: 1, dtype: object

In [60]:
df.index = ['e','r','l']
df
df.iloc[1]
df.loc['r']

name      xiaoming
gender      female
age             21
Name: r, dtype: object

In [66]:
#注意切行中的几个字段，是用“，”
df.loc['e',['name','gender']]

name        lulu
gender    female
Name: e, dtype: object

In [72]:
df.loc[df.age == 21,'age'] = 23
df

       name  gender  age
e      lulu  female   23
r  xiaoming  female   23
l      qiqi  female   29

In [74]:
import os
os.path.abspath('.')

'C:\\Users\\Administrator'